[permission shim]
IP_PROTOCOL = tcp
FROM_PORT = 8080
TO_PORT = 8080

[cluster scidb]
KEYNAME = AWSKey
CLUSTER_SIZE = 1
NODE_INSTANCE_TYPE = m1.large
SPOT_BID = 0.08
NODE_IMAGE_ID = ami-765b3e1f
PLUGINS = scidbplugin
DISABLE_QUEUE=True
CLUSTER_USER = admin
DNS_PREFIX = True
NODE_IMAGE_ID = ami-765b3e1f
PERMISSIONS = shim
#AVAILABILITY_ZONE = us-east-1c

[plugin scidbplugin]
setup_class = scidbplugin.SciDBInstaller